/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(230, 75%, 56%);
  --title-color: hsl(230, 75%, 15%);
  --text-color: hsl(230, 12%, 40%);
  --body-color: hsl(230, 100%, 95%);
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  overflow-x: hidden;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

/* Fixed wrapper contact offset-to-the-right 32px by default */
ul.wrappercontact {
  padding-left: 0px;

}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  position: relative;
  height: 100vh;
}

.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}


.search,
.login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(230, 75%, 15%, .1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
}

.search__close,
.login__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__search, 
.nav__login, 
.nav__toggle, 
.nav__close {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .4s;
}

:is(.nav__logo, .nav__search, .nav__login, .nav__toggle, .nav__link):hover {
  color: var(--first-color);
}

/* Navigation for mobile devices */
/* Laptop 1024px */
@media screen and (max-width: 1024px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top .4s;
  }

  h1.carousel-text{
    font-size: 1.5rem !important;
  }

  p.carousel-text {
    font-size: 0.75rem !important;
  }

  .hrslider1{
    width: 22rem !important;
  }
  .hrslider2{
    width: 12rem !important;
  }
  .hrslider3{
    width: 8rem !important;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  /* .carousel-caption p{
    display: none;
  } */
  
  h1.carousel-text{
    font-size: 1.25rem !important;
  }

  p.carousel-text{
    font-size: 0.5rem !important;
  }

  .hrslider1{
    width: 18rem !important;
  }
  .hrslider2{
    width: 10rem !important;
  }
  .hrslider3{
    width: 6rem !important;
  }

  .btn{
    font-size: 0.5rem !important;
  }
}

/* Mobile L */
@media screen and (max-width: 431px) {
  .carousel-caption p{
    display: none !important;
  }
  
  h1.carousel-text{
    font-size: 1rem !important;
  }

  /* p.carousel-text{
    font-size: 0.5rem !important;
  } */

  hr.b-4{
    margin: 0 0 0.5rem !important;
  }

  .hrslider1{
    width: 15rem !important;
  }
  .hrslider2{
    width: 8rem !important;
  }
  .hrslider3{
    width: 4rem !important;
  }

  .btn{
    font-size: 0.4rem !important;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/*=============== SEARCH ===============*/
.search__form {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--container-color);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  padding-inline: 1rem;
  border-radius: .5rem;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.search__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.search__input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

.search__input::placeholder {
  color: var(--text-color);
}

/* Show search */
.show-search {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search__form {
  transform: translateY(0);
}

/*=============== LOGIN ===============*/
.login__form, 
.login__group {
  display: grid;
}

.login__form {
  background-color: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.login__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.login__group {
  row-gap: 1rem;
}

.login__label {
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}

.login__input {
  width: 100%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: .5rem;
  color: var(--text-color);
}

.login__input::placeholder {
  color: var(--text-color);
}

.login__signup {
  margin-bottom: .5rem;
}

.login__signup a {
  color: var(--first-color);
}

.login__forgot {
  display: inline-block;
  color: var(--first-color);
  margin-bottom: 1.25rem;
}

.login__button {
  display: inline-block;
  background-color: var(--first-color);
  width: 100%;
  color: #fff;
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: box-shadow .4s;
}

.login__button:hover {
  box-shadow: 0 4px 24px hsla(230, 75%, 40%, .4);
}

/* Show login */
.show-login {
  opacity: 1;
  pointer-events: initial;
}

.show-login .login__form {
  transform: translateY(0);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .search,
  .login {
    padding-top: 10rem;
  }

  .search__form {
    max-width: 450px;
    margin-inline: auto;
  }

  .search__close,
  .login__close {
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }

  .login__form {
    max-width: 400px;
    margin-inline: auto;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
  .nav__close, 
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .login__form {
    padding: 3rem 2rem 3.5rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}
section {
    padding: 30px 30px;
}

.section-about {
    text-align: center;
}

.section-courses {
    text-align: center;
}

.section-program {
    text-align: center;
}

.section-prestasi {
  text-align: center;
}

.section-fasilitas-contact {
    text-align: center;
}
.cardpos{
    display: flex;
    justify-content: center;
}
.cardcontainer {
  display: flex;
  max-width: 1000px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
  flex: 1;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  display: flex;
  border-radius: 50px;
}

.text-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  color: #333;
}

p {
  color: #555;
}

/* Carousel blank space fixed but using .1s transition */
.carousel-item {
  float: none;
  transition: .1s ease-in-out !important;
}

/* .carousel {
  width:100% !important; 
  overflow: hidden !important; 
  right:0 !important; 
}

.carousel-caption {
  right:0 !important;
  left:0!important;
} */

/* Carousel Text */
.carousel-item h1 {
  color: #ffffff;
  outline: #000000;
  outline-width: 1rem;
}

.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.item {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

hr{
  margin: 0 0 1rem !important;
}

.hrslider1 {
  color: #0073ff;
  margin: auto;
  width: 38rem;
  /* size: 100px; */
}
.hrslider2 {
  color: #0073ff;
  margin: auto;
  width: 20rem;
  /* size: 100px; */
}
.hrslider3 {
  color: #0073ff;
  margin: auto;
  width:15rem;
  /* size: 100px; */
}

p.carousel-text {
  color: #ffffff;
  /* font-size: 1rem; */
}

h1.carousel-text {
  color: #ffffff;
  font-size: 2.5rem;
}

.containerslider {
    padding: auto;
}

.slider-wraper {
    position: relative;
    max-width: fit-content;
    margin: 0 auto;
    overflow: hidden;

}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    padding: 0px;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: relative;
    bottom: 7rem;
    margin-left: 65%;
    transform: translateX(-50%);
    z-index: 1;

}

.slider-nav a{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 25%;
    background-color: #FFF7D4;
    opacity: 0,75;
    transition: opacity ease 250ms;
    margin-top: 50px;
}

.card-container-program{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.card1program{
    width: 325px;
    background-color: #444;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0,2);
    margin: 20px;
}
.card2program{
    width: 325px;
    background-color: #444;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0,2);
    margin: 20px;
}
.card3program{
    width: 325px;
    background-color: #444;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0,2);
    margin: 20px;
}
.card img{
    /* width: 100px; */
    height: auto;
    object-fit: cover;
}
p.card-text{
  color: #000000;
}
.card-content-program {
    padding: 16px;
}
.card-content-program h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content-program p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}
.card-content-program .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
}

.logocontainer {
  display: flex;
  max-width: 10px 40px;
  background-color: #f0f0f0;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo_image {
  flex: 10;
  overflow: hidden;
}

.logo_image img {
  max-width: 3rem;
  /* max-width: 50px; */
  display: block;
}
.card-container-kegiatan{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    overflow: hidden;
    justify-content: center;
}
.card1kegiatan{
    width: 700px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0,2);
    margin: 20px;
}
.card2kegiatan{
    width: 700px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0,2);
    margin: 20px;
}
.card3kegiatan{
    width: 700px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0,2);
    margin: 20px;
}
.card4kegiatan{
    width: 700px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0,2);
    margin: 20px;
}
.card5kegiatan{
    width: 700px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0,2);
    margin: 20px;
}
.card6kegiatan{
    width: 700px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0,2);
    margin: 20px;
}
.card7kegiatan{
    width: 700px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0,2);
    margin: 20px;
}
.card8kegiatan{
    width: 700px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0,2);
    margin: 20px;
}
.card9kegiatan{
    width: 700px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0,2);
    margin: 20px;
}
.card10kegiatan{
    width: 700px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0,2);
    margin: 20px;
}
.card-container-kegiatan img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* Contact & Footer */
footer {
  background-color: hsl(230, 100%, 95%);
}

#contact {
  padding: 0%;
}

.cardsection-contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 2px 4px rgba(0,0,0,0,2);
    background-color: #f3f3f3;
}
.wrappercontact {
  display: inline-flex;
  list-style: none;
}

.wrappercontact .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrappercontact .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrappercontact .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrappercontact .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrappercontact .icon:hover span,
.wrappercontact .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.email {
  --color: #1baaf2;
}
.facebook {
  --color: #1877f2;
}
.instagram {
  --color: #e4405f;
}
.youtube {
  --color: #cd201f;
}

.icon:hover,
.icon:hover .tooltip,
.icon:hover .tooltip::before {
  background: var(--color);
  color: white;
}

